$c-app-bg: #f6f6f6; //eaeff1
$c-login-textfield-bg: #eaeff1;
$c-login-bar-bg: #eaeff1;

$c-button-blue: #3f51b5;

$c-actionbar-bg: #3f51b5;
$c-actionbar-icon: #FCF7F8;
$c-actionbar-icon-hover: #5063ff;
$c-actionbar-notification: #e1665c;

$c-sidebar-bg: #fff;
$c-sidebar-icon: #ecedef;
$c-sidebar-selected: #eaeff1;
$c-sidebar-item-textcolor: #212529;
$c-sidebar-content-overlay: #212529;

$c-font-light: #1e1e1e;

$c-content-header-bg: #f6f6f6; //2d3544
$c-content-header-bg-old: #563d7c;

$c-content-title: #111826;
